@model ProjectPractice.Models.PhotoReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhotoReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReporterNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReporterNavigation.EmailAccount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
