@model ProjectPractice.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncryptedPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncryptedPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthOfDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthOfDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoSticker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoSticker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInBlackList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInBlackList)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
